/.EntidadesParsingTest.java._trace
/.EntidadesParsingTest.xtendbin
/EntidadesParsingTest.java
/.EntidadesValidadorTest.java._trace
/.EntidadesValidadorTest.xtendbin
/EntidadesValidadorTest.java
/.EntidadesGeneradorTest.java._trace
