/.C.java._trace
/.C.xtendbin
/.Main.java._trace
/.Main.xtendbin
/.MetodoDeExtension.java._trace
/.MetodoDeExtension.xtendbin
/.MiListaExtension.java._trace
/.MiListaExtension.xtendbin
/C.java
/Main.java
/MetodoDeExtension.java
/MiListaExtension.java
